<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selección de Datos Energéticos</title>
    <link rel="stylesheet" href="CSS/formulario.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="JS/formulario.js" defer></script>
    <style>
      :root {
        --primary-color: #315c2b;
        --dark-hover: #284822;
        --dark-active: #1f3a1b;
        --navbar-bg: #181f1c;
        --navbar-hover: #9ea93f;
      }

      .btn-bd-primary,
      .btn-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: #fff;
        --bs-btn-bg: var(--primary-color);
        --bs-btn-border-color: var(--primary-color);
        --bs-btn-hover-bg: var(--dark-hover);
        --bs-btn-hover-border-color: var(--dark-hover);
        --bs-btn-focus-shadow-rgb: 49, 92, 43;
        --bs-btn-active-bg: var(--dark-active);
        --bs-btn-active-border-color: var(--dark-active);
      }

      .btn-outline-primary {
        color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
      }
      .btn-outline-primary:hover {
        background-color: var(--primary-color) !important;
        color: white !important;
      }

      .navbar-custom {
        background-color: var(--navbar-bg) !important;
      }
      .navbar-custom .nav-link {
        color: white !important;
      }
      .navbar-custom .nav-link:hover {
        color: var(--navbar-hover) !important;
      }
    </style>
  </head>

  <body style="padding-top: 100px">
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-md navbar-custom fixed-top">
        <div class="container-fluid">
          <a href="/">
            <img
              src="img/EcoRadarLogo2.png"
              alt="Logo"
              style="width: 80px; height: 80px; padding: 0; margin: 0"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  th:href="@{/informacion}"
                  >Información</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  th:href="@{/rankings}"
                  >Rankings</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  th:href="@{/formularioinfo}"
                  >Comparación</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" th:href="@{/contacto}">Conócenos</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 text-end">
            <button
                    type="button"
                    class="btn btn-outline-primary me-2"
                    th:attr="onclick='window.location.href=\'' + @{/iniciarsesion} + '\''"
            >
              Login
            </button>
            <button
                    type="button"
                    class="btn btn-primary"
                    th:attr="onclick='window.location.href=\'' + @{/Registro  } + '\''"
            >
              Sign-up
            </button>
          </div>
        </div>
      </nav>
    </header>
    <h1>Selección de Datos Energéticos</h1>
    <p class="text-center text-muted parrafoinicial">
      Explora y compara datos energéticos de manera interactiva. Nuestra
      plataforma te permite analizar el consumo o la producción de tipos de
      energía (eólica, hidráulica, solar, bioergía y otros), la capacidad
      instalada o el porcentaje de energía renovable en un rango de años.
      Gracias a la flexibilidad del formulario, podrás comparar fácilmente dos
      regiones o locaciones. Visualiza los resultados en gráficos dinámicos y de
      fácil interpretación.
    </p>
    <div class="main-container">
      <!-- 📊 Tipo de Información -->
      <div class="container">
        <h2>📊 Tipo de Información</h2>
        <label for="studyOption">Selecciona una opción:</label>
        <select id="studyOption">
          <option value="">Selecciona una opción</option>
          <option value="consumption">Consumo</option>
          <option value="production">Producción</option>
          <option value="solar">% Capacidad Solar Instalada</option>
          <option value="renewable">% Energía Renovable</option>
        </select>
      </div>

      <!-- ⚡ Tipo de Energía -->
      <div class="container" id="energyContainer">
        <h2>⚡ Tipo de Energía</h2>
        <label for="energyType">Selecciona un tipo de energía:</label>
        <select id="energyType">
          <option value="">Selecciona un tipo de energía</option>
          <option value="wind">Eólica</option>
          <option value="hydro">Hidráulica</option>
          <option value="solar">Solar</option>
          <option value="bio">Bioenergía y otras</option>
        </select>
      </div>

      <!-- 🔍 Búsqueda por Continente o País -->
      <div class="container">
        <h2>🔍 Búsqueda por Región o Locación</h2>
        <label for="searchType">¿Cómo deseas buscar?</label>
        <select id="searchType">
          <option value="">Selecciona una opción</option>
          <option value="continent">Por Región</option>
          <option value="country">Por Locación</option>
        </select>
      </div>

      <!-- 🔍 Botón de Consulta -->
      <div class="btn-container">
        <button id="consultarBtn" class="btn-consultar">🔍 Consultar</button>
      </div>
    </div>

    <div class="main-container">
      <!-- 🌍 Selección a partir de país -->
      <div class="container" id="firstCountry">
        <h2>🌍 Locación</h2>
        <label for="countries"></label>
        <select id="countries"></select>
      </div>

      <!-- 🌍 Selección de país adicional -->
      <div class="container" id="secondCountry">
        <h2>🌍 Locación adicional</h2>
        <label for="countries"></label>
        <select id="countries1"></select>
      </div>

      <!-- 🌍 Selección a partir de Región -->
      <div class="container" id="firstCountryByRegion">
        <h2>🌍 Región</h2>
        <label for="continentSelect"></label>
        <select id="continentSelect"></select>

        <h2>Locación de la región</h2>
        <label for="countrySelect"></label>
        <select id="countrySelect" disabled></select>
      </div>

      <!-- 🌍 Selección de Región Adicional -->
      <div class="container" id="secondCountryByRegion">
        <h2>🌍 Región adicional</h2>
        <label for="continentSelect1"></label>
        <select id="continentSelect1"></select>

        <h2>Locación de la región</h2>
        <label for="countrySelect1"></label>
        <select id="countrySelect1" disabled></select>
      </div>
    </div>

    <div class="main-container">
      <!-- 📅 Año Inicial -->
      <div class="container" id="divYearStart">
        <h2>📅 Año Inicial</h2>
        <label for="yearStart">Selecciona el año:</label>
        <select id="yearStart"></select>
      </div>

      <!-- 📅 Año Final -->
      <div class="container" id="divYearEnd">
        <h2>📅 Año Final</h2>
        <label for="yearEnd">Selecciona el año:</label>
        <select id="yearEnd"></select>
      </div>
    </div>

    <div><h1 id="dynamicHeading">Consulta</h1></div>

    <!-- 📊 Gráfica -->
    <div class="chart-container" id="chart-container">
      <canvas id="myChart"></canvas>
    </div>

    <footer class="bg-dark text-white text-center py-3 w-100" >
      <p>
        &copy; 2025 EcoRadar
      </p>
    </footer>
  </body>
</html>
