<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Global de Energías Renovables</title>
    <link rel="stylesheet" href="comparador.css">
</head>

<body>

    <!-- Contenedor principal -->
    <div class="contenedor">
        <!-- Botón de imagen de inicio -->
        <button class="image-btn">
            <img src="img/inicio.png" alt="Inicio">
        </button>

        <!-- Botón del logo -->
        <button class="logo-btn">
            <img src="img/logo.png" alt="Logo">
        </button>

        <!-- Contenedor para los botones de autenticación -->
        <div class="auth">
            <button class="Register">Register</button>
            <button class="Login">Login</button>
        </div>
    </div>


<span class="Misin">
    Misión
</span>